* {
    margin: 0;
}
@import url('../fonts/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&display=swap');
:root {
    --primary-color: #00bca7;
    --secondary-color: #0091e9;
    --hover-btn-color: #0076bd;
    --bg-light: #fffbf6;
}

html {
    line-height: 1.5;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Open Sans",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
    color: var(--secondary-color);
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: var(--hover-btn-color);
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    font-family: "Montserrat",sans-serif;
    color: #183646;
    font-weight: 800;
}

th {
    text-align: left;
}

.op-2 {
    opacity: .2;
}

.fs-14 {
    font-size: 14px;
}

.fs-42 {
    font-size: 42px;
}

.btn {
    display: inline-block;
    border-radius: 1500px;
    font-weight: 700;
    white-space: normal;
    padding: 0.5rem 1.5rem;
    transition: all .3s ease;
}

.btn-primary {
    background: linear-gradient(90deg, var(--secondary-color) 0%, var(--primary-color) 100%);
    border: none;
    opacity: 1;
    transition: all ease-in-out .45s;
    font-size: 14px;
}

.btn-primary:hover {
    opacity: .8;
    background: linear-gradient(90deg, var(--secondary-color) 0%, var(--primary-color) 100%);
    border: none;
}

.urlshortner-btn, .linkinbio-btn {
    display: inline-block;
    border-radius: 4px;
    font-family: Lato, sans-serif;
    font-weight: 700;
    white-space: normal;
    text-transform: uppercase;
    background: transparent;
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: all ease-in-out .5s;
    font-size: 14px;
    padding: 1rem;
    cursor: pointer;
}

.urlshortner-btn.active, .linkinbio-btn.active {
    background: var(--secondary-color);
    border-color: var(--secondary-color);
    color: #fff;
    -webkit-box-shadow: 10px 10px 14px 1px rgba(00, 00, 00, 0.2);
    box-shadow: 10px 10px 14px 1px rgba(00, 00, 00, 0.2);
    transition: all ease-in-out .5s;
    font-size: 14px;
}

.btn-secondary {
    background: #171717;
}

.btn-outline-primary {
    border:2px solid var(--secondary-color)
}


.btn-outline-primary:hover, .btn-outline-primary:focus{
    background: var(--secondary-color)!important;
    border:2px solid var(--secondary-color)
}

.text-primary {
    color: var(--secondary-color)!important;
}

.hidden {
    opacity: 0;
}
.bg-primary{
    background: var(--secondary-color)!important;
}
.bg-light {
    background: var(--bg-light)!important;
}

.bg-dark {
    background: #10131a!important;
}

.mt-100 {
    margin-top: 100px;
}

.dropdown-toggle::after {
    display: none;
}

.know__more{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    color: #333333;
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
}

.section-title h2 {
    color: #3E444E;
}

section{
    padding: 90px 0 90px;
}

.section-title h3{
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--secondary-color);
}

.section-title p {
    font-size: 1.8rem;
    line-height: 38px;
    font-weight: 500;
    margin-bottom: 14px;
    color: #16215c;
}

.section-title p span{
    position: relative;
    z-index: 1;
}

.section-title p span::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: 8px;
    left: 0;
    background-color: var(--primary-color);
    z-index: -1;
}

#ourSoftwares .card{
    border-radius: 50px;
    height: 230px;
    width: 280px;
    max-width: 100%;
    margin: 0 auto;
}

#ourSoftwares .card p{
    font-size: 14px;
}

.software__row img{
    transition: all .45s;
}

.software__row img:hover{
    transform: scale(1.02);
}


.bdr-4 {
    border-radius: 4px;
}
.pt-100{
    padding-top: 100px;
}
.pb-200{
    padding-bottom: 200px;
}
.ptb-150 {
    padding: 150px 0;
}

.ptb-200 {
    padding: 200px 0;
}

.call-to-action-bottom {
    position: absolute;
    left: 0;
    bottom: -280px;
    width: 100%;
}

.call-to-action-top {
    position: absolute;
    left: 0;
    top: -120px;
    width: 100%;
}

.link-badge {
    font-size: 0.65em;
    padding: 4px 10px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 2px;
    color: #fff;
    border: none!important;
}
.header{
    padding: 100px 0 10px;
}

.link-btn {
    background: transparent;
    border: 2px solid var(--secondary-color);
    font-size: 14px;
    font-weight: 600;
    border-radius: 1500px;
    color: var(--secondary-color);
}

.link-btn:hover {
    background: var(--secondary-color);
    -webkit-box-shadow: 10px 10px 14px 1px rgba(00, 00, 00, 0.2);
    box-shadow: 10px 10px 14px 1px rgba(00, 00, 00, 0.2);
    transition: all ease .2s;
    color: #fff;
}

.box {
    padding: 40px;
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
    box-sizing: border-box;
    position: relative;
    transition: all 200ms linear;
    border-radius: 4px;
}

#accordionExample .card {
    margin-bottom: 20px;
}

.card {
    border: none;
    border-radius: 4px;
    overflow: hidden;
}

.feature_section.card {
    border: none;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.10);
    border-radius: 20px;
    overflow: hidden;
}

.card-header {
    background: #fff;
}

.card-header:first-child {
    border-radius: 4px 4px 0 0;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.5rem 2.5rem;
}

.viewmore-link {
    position: relative;
    font-weight: 700;
    font-size: 1rem;
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    padding-right: 24px;
}

.viewmore-link:after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    right: 0;
    top: 15px;
    content: '\f061';
    color: var(--secondary-color);
    font-weight: 900;
}

.viewmore-link:hover {
    text-decoration: none;
    border-bottom: 2px solid var(--hover-btn-color);
    transition: all ease .5s;
}

.viewmore-link:hover:after {
    color: var(--hover-btn-color);
}

/* navbar */
.navbar{
    height: 90px;
}

.navbar-dark .navbar-toggler-icon {
    display: block;
    background-image: none;
    content: '';
    background: #fff;
    width: 20px;
    height: 3px;
    margin-bottom: 5px;
}

.navbar-brand {
    color: indigo;
}

.navbar-dark.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
    font-weight: 500;
    font-size: 14px;
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link.active {
    position: relative;
}

.navbar-brand{
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
}

.dropdown:hover .dropdown-menu {
    display: block;
    border: none;
    border-radius: 10px;
    padding: 4rem;
}

.dropdown-item{
    font-size: 1.2rem;
    font-weight: 600;
    color: #8e8e8e;
    background: transparent;
    transition: all .45s;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #183646;
    text-decoration: none;
    background-color: #eaf3f9;
    border-radius: 4px;
}
.dropdown-item.active, .dropdown-item:active {
    color: #183646;
    text-decoration: none;
    background-color: #eaf3f9;
    border-radius: 4px;
}
.trail_btn {
    width: 200px!important;
    padding: 12px!important;
    font-size: 12px!important;
    opacity: 1!important;
}

.trail_btn {
    background: var(--secondary-color);
    border-color: var(--secondary-color);
}

.navbar-nav .nav-item {
    margin-left: 10px;
    margin-right: 10px;
}

.scrolled {
    background: #fff;
    -webkit-box-shadow: 0px -5px 14px 1px rgba(00, 00, 00, 0.2);
    box-shadow: 0px -5px 14px 1px rgba(00, 00, 00, 0.2);
    transition: all ease .5s;
}

.navbar-light .navbar-nav .nav-link {
    color: #111
}

.navbar-light .navbar-nav .nav-link:active, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link:hover {
    color: var(--secondary-color);
}

.fixed-top.scrolled .nav-link, .fixed-top.scrolled .navbar-nav .active>.nav-link, .fixed-top.scrolled .navbar-nav .nav-link.active, .fixed-top.scrolled .navbar-nav .nav-link.show, .fixed-top.scrolled .navbar-nav .show>.nav-link {
    color: #3e444e;
}

.fixed-top.navOpen .nav-link.active {
    color: var(--secondary-color)!important;
}

.fixed-top.scrolled .nav-link.active {
    color: var(--secondary-color)!important;
}

.logo-dark {
    display: none;
}

.fixed-top.scrolled .logo-light {
    display: none;
}

.fixed-top.scrolled .logo-dark {
    display: block;
}

/* header */

.main-header, header {
    padding-top: 9rem;
    padding-bottom: 6rem;
}

.main-header{
    background: #fff url("../img/header-bg.svg") center center no-repeat;
    background-size: cover;
    min-height: 700px;
}

.main-header h1 {
    font-size: 2.5rem;
}
.main-header p {
    font-size: 1.4rem;
    color: #787878;
}
.main-header .btn{
    width: 400px;
    font-size: 1.6rem;
}
/* features */

.features {
    position: absolute;
    left: 0;
    bottom: 50px;
    width: 100%;
}

.features h4 {
    color: var(--secondary-color);
    font-weight: 700;
}

.features span:last-child {
    color: #464646;
    font-size: 16px;
}

.features p {
    color: #9a9a9a;
    font-size: 18px;
}

.features .feature-item {
    margin-bottom: 20px;
}

.features .feature-item a {
    display: flex;
    align-items: center;
}

/* single-features */

#SingleFeatures {
    background-color: var(--bg-light);
    background-size: cover;
}

#SingleFeatures .carousel-inner {
    border-radius: 5px;
    box-shadow: 0px 10px 40px 0px rgba(47, 47, 47, 0.3);
}

#SingleFeatures .carousel-item img {
    border-radius: 5px;
}

#SingleFeatures .tabs__list-item {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

#SingleFeatures .tab_url a {
    display: inline-block;
    margin-top: 10px;
    font-weight: 700;
    border-bottom: 3px solid var(--secondary-color);
    padding-bottom: 5px
}

#SingleFeatures .tab_url>img {
    width: 50px;
}

#SingleFeatures .tab_right h3 {
    color: #171717;
}

#SingleFeatures .tabs__list-item {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

#SingleFeatures .tabs__list-icon {
    margin-right: 1rem;
    font-size: 42px;
}

#SingleFeatures .tabs__list-item-name {
    color: #bbbbbb;
    font-size: 16px;
    font-weight: 600;
}

/* clientReview */

#clientReview {
    background-color: var(--bg-light);
}

#clientReview .client-review {
    position: relative;
    background: #fff;
    padding: 20px 30px;
    box-shadow: 0px 10px 40px 0px rgba(47, 47, 47, 0.3);
    border-radius: 4px;
}

#clientReview .client-review img {
    position: absolute;
    top: -50px;
    left: -40px;
    box-shadow: 0px 5px 6px 0px rgba(47, 47, 47, 0.3);
    border-radius: 1500px;
}

#clientReview .client-review .client_name {
    position: relative;
    padding-left: 14px;
    display: inline-block;
}

#clientReview .client-review .client_name:before {
    position: absolute;
    left: 0;
    top: 50%;
    width: 8px;
    height: 2px;
    content: '';
    background: var(--secondary-color);
    transform: translateY(-50%);
}

/* faq */

#faq {
    background: var(--bg-light);
}

#accordionExample .card .card-header {
    position: relative;
}

#accordionExample .card .card-header:before {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    background: var(--secondary-color);
    font-family: 'Font Awesome 5 Free';
    content: "";
    font-weight: 900;
    padding-left: 15px;
    padding-top: 20px;
    color: #fff;
}

#accordionExample .card .card-header:after {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    background: none;
    font-family: 'Font Awesome 5 Free';
    content: "\f3be";
    font-weight: 900;
    padding-left: 15px;
    padding-top: 20px;
    color: #fff;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}

#accordionExample .card .card-header.down:after {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* .................................
/////////////////////////////////
          pricing page
/////////////////////////////////
................................. */

/* pricing */

.pricing-switch {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto 4rem;
}

.pricing-monthly {
    text-align: right;
    margin-right: 1rem;
}

.pricing-monthly, .pricing-annual {
    font-size: .8125rem;
    line-height: 1;
    cursor: pointer;
}

.pricing__term {
    font-weight: 600;
    color: #3e444e;
    margin-bottom: .25rem;
}

.pricing-toggle {
    height: 24px;
    width: 42px;
    background-color: #dee2ec;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}

.pricing-toggle__knob {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 100%;
    top: 3px;
    left: 4px;
}

.pricing-toggle.annually {
    background-color: #19c55e;
}

.pricing-toggle.annually .pricing-toggle__knob {
    right: 4px;
    left: auto;
    background-color: #fff;
}

.pricing-annual {
    text-align: left;
    margin-left: 1rem;
}

.pricing-monthly, .pricing-annual {
    font-size: .8125rem;
    line-height: 1;
    cursor: pointer;
}

.plans-overview .plan {
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 12px 40px rgba(51, 62, 77, 0.15);
    text-align: center;
    margin-bottom: 3rem;
}

.plan__name {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--secondary-color);
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-family: ubuntu, sans-serif;
}

.plan__description {
    margin-bottom: 2rem;
}

.plan__price {
    margin-bottom: 2rem;
}

.plan__amount {
    font-weight: 600;
    color: var(--secondary-color);
    font-size: 3rem;
    line-height: 1;
}

.plan__amount span{
    font-size: 16px;
}

.plan__billing {
    font-size: .875rem;
}

.plans-overview .plan__price.annual {
    display: none;
}

.plan__price.monthly {
    display: block;
}

.table tr {
    border-bottom: 1px solid #ffffff61;
}

.table td, .table th {
    vertical-align: top;
    border-top: none;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.table thead th {
    position: relative;
    vertical-align: bottom;
    border-bottom: 2px solid var(--secondary-color);
    font-weight: 700;
    padding: 1rem;
    color: #fff;
}

.info-content {
    visibility: hidden;
    width: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 1rem;
    font-size: 10px;
    font-weight: 200;
    /* Position the tooltip */
    position: absolute;
    z-index: 9999;
}

#info:hover .info-content {
    visibility: visible;
}

/* addons */

#addOns .addons_list span {
    font-size: 14px;
}

/* common-footer */

footer {
    background: #0a1929;
}

footer h4 {
    font-size: 22px;
}

footer .footer-links .nav-item {
    font-weight: 400;
    font-size: 14px
}

footer p {
    font-size: 14px;
}

#sticky-CTA {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

#sticky-CTA a {
    color: #fff;
    text-transform: none;
    font-size: 14px;
    padding: .8rem 2rem;
    font-weight: 500;
}

/* Team-List */

.user-profile .social-media i {
    font-size: 24px;
}

/* partners */

.disclosures-body {
    color: #282929;
}

@media (min-width: 600px) {
    .disclosures-body>ol>li {
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 1.25 !important;
        margin-bottom: 2rem;
    }
    .disclosures-body>ol>li>:first-child {
        margin-bottom: 2rem;
    }
    .disclosures-body>ol>li>:not(:first-child) {
        font-size: 1rem;
    }
    .disclosures-body>ol>li>:not(:first-child) {
        font-size: .875rem;
        font-weight: normal;
        line-height: 2;
    }
    .disclosures-body>ol>li>ol {
        list-style-type: upper-alpha;
    }
    .disclosures-body>ol>li>ol>li {
        font-size: 1rem;
    }
    .disclosures-body>ol>li {
        font-size: 2rem;
        margin-bottom: 4rem;
    }
}


/* signup */

#login .card {
    border-radius: 20px;
}

#signup .form-control, #login .form-control, .main-header .form-control {
    border: none;
    background-color: transparent;
    box-shadow: none;
    padding-left: 2px;
}

.input-group {
    border: 1px solid #dae0e5;
    border-radius: 1500px;
}

.input-group-text {
    background: none;
    border: none;
}


/* home login-form */

.register {
    min-height: 420px;
}


/* responsiveness */

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .8rem;
        padding-left: .8rem;
    }
    .v-centered {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .navbar-nav {
        padding-top: 4px;
    }
    #clientReview {
        background-color: var(--bg-light);
    }
    h2 {
        font-size: 3.4rem;
    }
    .card h2 {
        font-size: 1.5rem;
    }
    .text-large {
        font-size: 20px;
    }
}

@media (max-width: 991px) {
    .navbar-light .navbar-toggler {
        border: none;
        outline: none;
    }
    .navbar-light .navbar-nav .nav-link {
        font-weight: 600;
        opacity: 1;
        margin-bottom: 10px;
    }
    footer {
        text-align: center;
    }
    .mt-100 {
        margin: 0;
    }
    .box {
        padding: 30px;
    }
    .main-header .link-btn {
        width: 100%!important;
    }
    #SingleFeatures {
        padding: 50px 0;
    }
    .call-to-action-bottom {
        display: none;
    }
    .call-to-action-top {
        display: none;
    }
    .d-small-none {
        display: none!important;
    }
    .h3, h3 {
        font-size: 1rem;
        line-height: 1.5;
        font-weight: 600;
    }
    h1, .h1 {
        font-size: 1.6rem;
    }
    .navbar-dark .navbar-toggler {
        color: rgba(0, 0, 0, 0);
        border-color: rgba(0, 0, 0, 0);
    }
    .navbar-dark .navbar-brand {
        color: rgba(0, 0, 0, .9);
        margin: 0 auto;
        padding-left: 58px;
    }
    .navbar-dark .navbar-nav .nav-link {
        font-weight: 700;
        font-size: 28px;
        margin-bottom: 18px;
        color: #fff;
        margin-left: 10px;
        margin-right: 10px;
    }
    .main-header {
        text-align: center;
        min-height: auto;
        padding: 3rem 0;
    }
    .main-header h1 {
        font-size: 22px;
        margin-bottom: 14px;
    }
    .main-header p {
        font-size: 1rem;
        color: #787878;
    }
    .fixed-top {
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    .navbar {
        height: auto;
    }
    .main-header .btn {
        width: 100%;
        font-size: 1.2rem;
    }
    section{
        padding: 40px 0 40px;
    }
    .section-title p {
        font-size: 1.3rem;
        line-height: 25px;
        font-weight: 500;
        margin-bottom: 14px;
        color: #16215c;
    }
    .section-title p span::after {
        display: none;
    }
    .col-reverse{
        flex-direction: column-reverse;
    }
}